.f-20px {
  font-size: 20px;
}

.f-28px {
  font-size: 28px;
}

.f-30px {
  font-size: 30px;
}

.f-40px {
  font-size: 40px;
}

.f-small {
  font-size: small;
}

.f-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}


@font-face {
	font-family: tex;
	src: url('../../assets/fonts/DMSerifDisplay-Italic.ttf');
}

.ff-tex {
font-family: tex;
}

@font-face {
	font-family: italic;
	src: url('../../assets/fonts/DMSerifDisplay-Italic.ttf');
}

.ff-italic {
font-family: italic;
}

@font-face {
	font-family: regular;
	src: url('../../assets/fonts/DMSerifDisplay-Regular.ttf');
}

.ff-regular {
font-family: regular;
}

@font-face {
	font-family: textBold;
	src: url('../../assets/fonts/Raleway-Bold.ttf');
}

.ff-textBold {
font-family: textBold;
}

@font-face {
	font-family: textExtraBold;
	src: url('../../assets/fonts/DMSerifDisplay-Italic.ttf');
}

.ff-textExtraBold {
font-family: textExtraBold;
}

@font-face {
	font-family: textSemiBold;
	src: url('../../assets/fonts/Raleway-SemiBold.ttf');
}

.ff-textSemiBold {
font-family: textSemiBold;
}

@font-face {
	font-family: dmserifdisplayitalic;
	src: url('../../assets/fonts/DMSerifDisplay-Italic.ttf');
}

.ff-dmserifdisplayitalic {
font-family: dmserifdisplayitalic;
}

@font-face {
	font-family: dmserifdisplayregular;
	src: url('../../assets/fonts/DMSerifDisplay-Regular.ttf');
}

.ff-dmserifdisplayregular {
font-family: dmserifdisplayregular;
}

@font-face {
	font-family: ralewaybold;
	src: url('../../assets/fonts/Raleway-Bold.ttf');
}

.ff-ralewaybold {
font-family: ralewaybold;
}

@font-face {
	font-family: ralewayextrabold;
	src: url('../../assets/fonts/Raleway-ExtraBold.ttf');
}

.ff-ralewayextrabold {
font-family: ralewayextrabold;
}

@font-face {
	font-family: ralewaymedium;
	src: url('../../assets/fonts/Raleway-Medium.ttf');
}

.ff-ralewaymedium {
font-family: ralewaymedium;
}

@font-face {
	font-family: ralewaysemibold;
	src: url('../../assets/fonts/Raleway-SemiBold.ttf');
}

.ff-ralewaysemibold {
font-family: ralewaysemibold;
}



.f-38px {
	font-size: 38px;
}


