.p-10px {
	padding: 10px;
}

.p-20px {
	padding: 20px;
}

.p-1rem {
	padding: 10px;
}

.px-1_5rem {
	padding-left: 1.5rem;
	padding-right:1.5rem;
}

.py-1rem {
	padding-top: 1rem;
	padding-bottom:1rem;
}

.px-16px {
	padding-left: 16px;
	padding-right: 16px;
}

.py-48px {
	padding-top: 48px;
	padding-bottom: 48px;
}

.pe-64px {
	padding-right: 64px;
}

.pt-32px {
	padding-top: 32px;
}

.pe-24px {
	padding-right: 24px;
}

.py-2px {
	padding-top: 2px;
	padding-bottom: 2px;
}

.pe-8px {
	padding-right: 8px;
}

.py-8px {
	padding-top: 8px;
	padding-bottom: 8px;
}

.ps-8px {
	padding-left: 8px;
}

.p-8px {
	padding: 8px;
}

.pt-8px {
	padding-top: 8px;
}

.p-16px {
	padding: 16px;
}

.ps-16px {
	padding-left: 16px;
}

.pe-48px {
	padding-right: 48px;
}

.pt-16px {
	padding-top: 16px;
}

.pb-48px {
	padding-bottom: 48px;
}

.pt-20px {
	padding-top: 20px;
}

.pb-10px {
	padding-bottom: 10px;
}

