.w-auto {
	width: auto !important;
}

.w-fill {
	width: 0;
	flex-grow: 1 !important;
}

.w-100 {
	width: 100% !important;
}

.w-230px {
	width: 230px !important;
}

.min-w-320px {
	min-width: 320px !important;
}

.min-w-230px {
	min-width: 230px !important;
}

.max-w-960px {
	max-width: 960px !important;
}

.min-w-300px {
	min-width: 300px !important;
}

.max-w-400px {
	max-width: 400px !important;
}

.max-w-700px {
	max-width: 700px !important;
}

.max-w-900px {
	max-width: 900px !important;
}

.max-w-1100px {
	max-width: 1100px !important;
}

.max-w-510px {
	max-width: 510px !important;
}

.min-w-100px {
	min-width: 100px !important;
}

.w-167px {
	width: 167px !important;
}

.w-60px {
	width: 60px !important;
}

